main{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 16px;
    background-color: #2B0040;
}

h1, h2{
    color: white;
}

button {
    background-color: transparent;
    border-color:brown;
    border: solid;
    color: brown;
    padding: 4px 16px 4px 16px;
    margin: 16px 0 16px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

button:hover{
    border-color:brown;
    background-color: brown;
    color: #43115B;
    cursor: pointer;
}

app-square {
    height: 200px;
}